.wrapper {
	width: 700px;
	height: 112vh;
	margin-left: -125px;
}

.pizza {
	width: 500px;
	height: 500px;
	position: absolute;
	display: flex;
	justify-content: start;
	justify-items: start;
	margin: -590px 0 0 40px;
}

.form-view {
	margin-top: 15%;
}
.main-title {
	margin-left: 60px;
}

.main-subtitle {
	margin-left: 65px;
	color: #707070;
}

.forgot-password-link {
	display: flex;
	margin: 0 auto;
	margin-left: 250px;
	text-decoration: none;
	color: #000;
	font-size: 18px;
}
.forgot-password-link:hover {
	color: #000;
}

.alert {
	display: flex;
	margin: 0 auto;
	width: 500px;
	margin-left: 110px;
}

.log-out-box {
	position: absolute;
	top: 40px;
	right: 20px;
	width: 150px;
	height: 70px;
	font-size: 18px;
	cursor: pointer;
}

.log-out-box > img {
	width: 24px;
	height: 24px;
}

.log-out-box > button {
	position: absolute;
	margin-top: -2px;
	text-decoration: none;
	color: #000;
}

.log-out-box > button:hover {
	color: #000;
}

.card-title {
	margin-top: -20px;
	margin-left: 25px;
	text-decoration: none;
	display: block;
	position: relative;
	color: #000;
}

.card-title::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10px;
	width: 100%;
	height: 0.1em;
	background-color: #ffd966;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}
.card-title:hover {
	color: #707070;
}
.card-title:hover::after,
.card-title:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}
.card-text {
	margin-top: -5px;
	margin-left: 40px;
	margin-bottom: 40px;
}

.address-single-store {
	margin-left: 40px;
}

.single-store-menu {
	margin: 20px 0 30px 40px;
}

.list-group-item {
	margin: 0 0 15px 40px;
}

.restaurant-logo {
	position: relative;
}
